@charset "UTF-8";

@import "Pastel/Bootstrap";

body {
	@fade: 15%;
	background:
		linear-gradient(
			fade(cyan, @fade),
			transparent
		),
		linear-gradient(
			-45deg,
			fade(magenta, @fade),
			transparent
		),
		linear-gradient(
			45deg,
			fade(yellow, @fade),
			transparent
		);
	background-blend-mode: multiply;
}
